<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

<H1>My Jupiter Notebook on IBM Watson Studio</H1>

**Mario Enrique Solorio Zertuche**

My Current position is Project manager and i want to work as a data science engineer or ML.

*I think data science is amazing in the way you can use math and create something that will learn from the data to give you some predictions.*

<H3>the code in cell 5 is a function when call will print 3 times "data science is cool."</H3>

In [7]:
def dis_out():
    for a in range(3):
        print("data science is cool")
dis_out()

data science is cool
data science is cool
data science is cool

<hr></hr>

<table>
    <tr>
        <th>bullet list</th>
        <th>numbered list</th>
    </tr>
    <tr>
        <td>* bullet 1</td>
        <td>* bullet 2</td>
        <td>* bullet 3</td>
    </tr>
    <tr>
        <td>1. numbered list 1</td>
        <td>2. numbered list 2</td>
        <td>3. numbered list 3</td>
    </tr>
</table>

<hr></hr>

<a href="https://www.udemy.com/">Udemy</a>
<img src="https://images.alphacoders.com/733/733488.png" alt="Pikachu Wallpaper">


<code>def dis_out():
    for a in range(3):
        print("data science is cool")
</code>

>Blockquoute
Data sci